a:visited {
	color: blue;
}

section, section > * {
	text-align: center;
}

span {
	position: fixed;
	right: 10px;
	font-family: "Courier New";
}

h1 {
	color: seagreen;
	font-size: 36;
	font-weight: normal;
	text-align: center;
	font-family: arial;
}

body {
	background: white;
}

.center {
	display: block;
	margin-left:  auto;
	margin-right: auto;
}

#warning {
	color: red;
}

